@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body{
    background-color: black;
    color: white;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.radius-yellow{
  border: solid yellow;
}


/* footer text blinking 1 second each */
.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures the footer stays on top */
}

@keyframes move-x-reverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

.animate-move-x {
  animation: move-x 2s infinite alternate;
}

.animate-move-x-reverse {
  animation: move-x-reverse 2s infinite alternate;
}